.footer {
  position: fixed;
  bottom: 0;
  left: 5rem;
  right: 5rem;
  border-radius: $radius-big $radius-big 0 0;
  background-color: $color-black;
  padding-top: 2.7rem;
  padding-bottom: 2.7rem;

  @media (min-width: 1200px) {
    left: 10rem;
    right: 10rem;
  }
}

.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $color-white;
  align-items: center;
}

.footer__logo {
  g {
    fill: $color-white;
  }
}

.footer__copyright {
  grid-column: 5 / -1;
  text-align: right;
}
