.footer {
  position: absolute;
  width: 100%;
  border-radius: $radius $radius 0 0;
  background-color: $color-black;
  padding-top: 2.7rem;
  padding-bottom: 2.7rem;
}

.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $color-white;
  align-items: center;
}

.footer__logo {
  g {
    fill: $color-white;
  }
}

.footer__copyright {
  grid-column: 5 / -1;
  text-align: right;
}
