// Colors
$color-primary: #291507;
$color-white: #ffffff;
$color-black: #000000;
$color-beige: #e3e1dc;
$color-brown: #544439;
$color-lightBrown: rgba(#291507, 60%);
$color-lightGrey: #e0e0e0;
$color-golden: #dec68b;
$color-hover-input: rgba(151, 151, 151, 0.1);

// Typography
$font-family: "Montserrat", sans-serif;

// Font weights
$w-regular: 400;
$w-normal: 500;
$w-semibold: 600;
$w-bold: 700;

// Border radius
$radius: 24px;
